@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* Main body style */
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

/* Navigation, image slider */
.navbar {
    padding: .8rem;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}
.navbar-brand {
    border: 1px solid;
    border-radius: 30%;
    padding: 10px;
}
.navbar-brand img {
    stroke: 5px solid;
}

.carousel-inner img {
    width: 100%;
    height:100%;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-caption {
    position: absolute;
    color: #F3F4EB;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

/* Changing the buttons */
.btn-primary {
    background-color: #58641D;
    border: 1px solid #58641D;
}
.btn-primary:hover {
    background-color: #7B904B;
    border: 1px solid #7B904B;
}
.jumbotron {
    padding: 1rem;
    border-radius: 0;

}

/* Styling the welcome section */
/* .padding {
    padding-bottom: 2rem;
}
*/
.welcome {
    width: 75%;
    margin: 0 auto;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

/* About section*/
.about {
    background: #777C6A;
    color: #F3F4EB;
    padding: 1rem;
}

/*Services section */
.services {
    padding: 1rem;
}

/* Social buttons */
.social a {
    font-size: 3.5rem;
    padding: 1.5rem;
}
.fa-facebook {
    color: #29487d;
}
.fa-google {
    color: #dd4b39;
}
.fa-github {
    color: #24292e;
}
.fa-linkedin {
    color: #0077b5;
}
.fa-facebook:hover, .fa-google:hover, .fa-github:hover, .fa-linkedin:hover {
    color: #969696;
}

/* Footer */
footer {
    background-color: #777C6A;
    color: #F3F4EB;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid #F3F4EB;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
hr.light-1 {
    border-top: 1px solid #F3F4EB;
    width:100%;
}
footer h5 {
    font-size: 400;
    text-align: center;
    padding-bottom: 1rem;
}

/* -- Bootstrap padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}